################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ComMonitor/obj
/ComMonitor/logs
/ComMonitor/bin/Debug/net6.0
/DishiDemo/.vs
/DishiDemo/DishiDemo/obj
/Profile/bin/Debug
/Profile/obj
/TestUnit/UnitProfile/bin/Debug/net6.0
/TestUnit/UnitProfile/obj
/DishiDemo/DishiDemo/bin/Debug/net472
/Unit/UnitDishiDemo/bin/Debug/net472
/Unit/UnitDishiDemo/obj
/FTPBatchCleaner/obj
/FTPBatchCleaner/bin/Debug/net6.0
